.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px lime;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px lime;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px lime;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}

@tailwind base;
@tailwind components;
@tailwind utilities;